/* Reset */
.spongeSkin table, .spongeSkin tbody, .spongeSkin a, .spongeSkin img, .spongeSkin tr, .spongeSkin div, .spongeSkin td, .spongeSkin iframe, .spongeSkin span, .spongeSkin *, .spongeSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.spongeSkin a:hover, .spongeSkin a:link, .spongeSkin a:visited, .spongeSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.spongeSkin table td {vertical-align:middle}

/* Containers */
.spongeSkin iframe {display:block; background:#FFF; border:1px dashed #aaa;}
.spongeSkin .mceToolbar {height:26px}

/* External */
.spongeSkin .mceExternalToolbar {position:absolute; border:1px solid #ABC6DD; border-bottom:0; display:none}
.spongeSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.spongeSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.spongeSkin table.mceToolbar, .spongeSkin tr.mceFirst .mceToolbar tr td, .spongeSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.spongeSkin .mceStatusbar {display:block; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; height:20px}
.spongeSkin .mceStatusbar div {float:left; padding:2px}
.spongeSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize}
.spongeSkin .mceStatusbar a:hover {text-decoration:underline}
.spongeSkin table.mceToolbar {margin-left:3px}
.spongeSkin .mceToolbar .mceToolbarStart span {display:block; background:url(img/button_bg.png) -22px 0; width:1px; height:22px; margin-left:3px;}
.spongeSkin .mceToolbar td.mceFirst span {margin:0}
.spongeSkin .mceToolbar .mceToolbarEnd span {display:block; background:url(img/button_bg.png) -22px 0; width:1px; height:22px}
.spongeSkin .mceToolbar .mceToolbarEndListBox span, .spongeSkin .mceToolbar .mceToolbarStartListBox span {display:none}
.spongeSkin span.mceIcon, .spongeSkin img.mceIcon {display:block; width:20px; height:20px}
.spongeSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.spongeSkin td.mceCenter {text-align:center;}
.spongeSkin td.mceCenter table {margin:0 auto; text-align:left;}
.spongeSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.spongeSkin .mceButton {display:block; background:url(img/button_bg.png); width:22px; height:22px}
.spongeSkin a.mceButton span, .spongeSkin a.mceButton img {margin-left:1px}
.spongeSkin .mceOldBoxModel a.mceButton span, .spongeSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.spongeSkin a.mceButtonEnabled:hover {background-color:#B2BBD0; background-position:0 -22px}
.spongeSkin a.mceButtonActive, .spongeSkin a.mceButtonSelected {background-position:0 -44px}
.spongeSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.spongeSkin .mceButtonLabeled {width:auto}
.spongeSkin .mceButtonLabeled span.mceIcon {float:left}
.spongeSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.spongeSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.spongeSkin .mceSeparator {display:block; background:url(img/button_bg.png) -22px 0; width:5px; height:22px}

/* ListBox */
.spongeSkin .mceListBox {margin-left:3px}
.spongeSkin .mceListBox, .spongeSkin .mceListBox a {display:block}
.spongeSkin .mceListBox .mceText {padding-left:4px; text-align:left; width:70px; border:1px solid #b3c7e1; border-right:0; background:#eaf2fb; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.spongeSkin .mceListBox .mceOpen {width:14px; height:22px; background:url(img/button_bg.png) -66px 0}
.spongeSkin table.mceListBoxEnabled:hover .mceText, .spongeSkin .mceListBoxHover .mceText, .spongeSkin .mceListBoxSelected .mceText {background:#FFF}
.spongeSkin table.mceListBoxEnabled:hover .mceOpen, .spongeSkin .mceListBoxHover .mceOpen, .spongeSkin .mceListBoxSelected .mceOpen {background-position:-66px -22px}
.spongeSkin .mceListBoxDisabled .mceText {color:gray}
.spongeSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.spongeSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.spongeSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px; border:1px solid #b3c7e1; background:#FFF;}

/* SplitButton */
.spongeSkin .mceSplitButton, .spongeSkin .mceSplitButton a, .spongeSkin .mceSplitButton span {display:block; height:22px}
.spongeSkin .mceSplitButton {background:url(img/button_bg.png)}
.spongeSkin .mceSplitButton a.mceAction {width:22px}
.spongeSkin .mceSplitButton span.mceAction {width:22px; background:url(../../img/icons.gif) 20px 20px}
.spongeSkin .mceSplitButton a.mceOpen {width:10px; background:url(img/button_bg.png) -44px 0}
.spongeSkin .mceSplitButton span.mceOpen {display:none}
.spongeSkin table.mceSplitButtonEnabled:hover a.mceAction, .spongeSkin .mceSplitButtonHover a.mceAction, .spongeSkin .mceSplitButtonSelected {background:url(img/button_bg.png) 0 -22px}
.spongeSkin table.mceSplitButtonEnabled:hover a.mceOpen, .spongeSkin .mceSplitButtonHover a.mceOpen, .spongeSkin .mceSplitButtonSelected a.mceOpen {background-position:-44px -44px}
.spongeSkin .mceSplitButtonDisabled .mceAction {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.spongeSkin .mceSplitButtonActive {background-position:0 -44px}

/* ColorSplitButton */
.spongeSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.spongeSkin .mceColorSplitMenu td {padding:2px}
.spongeSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.spongeSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.spongeSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.spongeSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.spongeSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.spongeSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a;overflow:hidden}
.spongeSkin .mce_forecolor span.mceAction, .spongeSkin .mce_backcolor span.mceAction {height:15px;overflow:hidden}

/* Menu */
.spongeSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #ABC6DD}
.spongeSkin .mceNoIcons span.mceIcon {width:0;}
.spongeSkin .mceNoIcons a .mceText {padding-left:10px}
.spongeSkin .mceMenu table {background:#FFF}
.spongeSkin .mceMenu a, .spongeSkin .mceMenu span, .spongeSkin .mceMenu {display:block}
.spongeSkin .mceMenu td {height:20px}
.spongeSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.spongeSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.spongeSkin .mceMenu span.mceText, .spongeSkin .mceMenu .mcePreview {font-size:11px}
.spongeSkin .mceMenu pre.mceText {font-family:Monospace}
.spongeSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.spongeSkin .mceMenu .mceMenuItemEnabled a:hover, .spongeSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.spongeSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.spongeSkin .mceMenuItemTitle a {border:0; background:#E5EFFD; border-bottom:1px solid #ABC6DD}
.spongeSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.spongeSkin .mceMenuItemDisabled .mceText {color:#888}
.spongeSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.spongeSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.spongeSkin .mceMenu span.mceMenuLine {display:none}
.spongeSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.spongeSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=50); background:#FFF}
.spongeSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.spongeSkin .mcePlaceHolder {border:1px dotted gray}

/* Formats */
.spongeSkin .mce_formatPreview a {font-size:10px}
.spongeSkin .mce_p span.mceText {}
.spongeSkin .mce_address span.mceText {font-style:italic}
.spongeSkin .mce_pre span.mceText {font-family:monospace}
.spongeSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.spongeSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.spongeSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.spongeSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.spongeSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.spongeSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.spongeSkin span.mce_bold {background-position:0 0}
.spongeSkin span.mce_italic {background-position:-60px 0}
.spongeSkin span.mce_underline {background-position:-140px 0}
.spongeSkin span.mce_strikethrough {background-position:-120px 0}
.spongeSkin span.mce_undo {background-position:-160px 0}
.spongeSkin span.mce_redo {background-position:-100px 0}
.spongeSkin span.mce_cleanup {background-position:-40px 0}
.spongeSkin span.mce_bullist {background-position:-20px 0}
.spongeSkin span.mce_numlist {background-position:-80px 0}
.spongeSkin span.mce_justifyleft {background-position:-460px 0}
.spongeSkin span.mce_justifyright {background-position:-480px 0}
.spongeSkin span.mce_justifycenter {background-position:-420px 0}
.spongeSkin span.mce_justifyfull {background-position:-440px 0}
.spongeSkin span.mce_anchor {background-position:-200px 0}
.spongeSkin span.mce_indent {background-position:-400px 0}
.spongeSkin span.mce_outdent {background-position:-540px 0}
.spongeSkin span.mce_link {background-position:-500px 0}
.spongeSkin span.mce_unlink {background-position:-640px 0}
.spongeSkin span.mce_sub {background-position:-600px 0}
.spongeSkin span.mce_sup {background-position:-620px 0}
.spongeSkin span.mce_removeformat {background-position:-580px 0}
.spongeSkin span.mce_newdocument {background-position:-520px 0}
.spongeSkin span.mce_image {background-position:-380px 0}
.spongeSkin span.mce_help {background-position:-340px 0}
.spongeSkin span.mce_code {background-position:-260px 0}
.spongeSkin span.mce_hr {background-position:-360px 0}
.spongeSkin span.mce_visualaid {background-position:-660px 0}
.spongeSkin span.mce_charmap {background-position:-240px 0}
.spongeSkin span.mce_paste {background-position:-560px 0}
.spongeSkin span.mce_copy {background-position:-700px 0}
.spongeSkin span.mce_cut {background-position:-680px 0}
.spongeSkin span.mce_blockquote {background-position:-220px 0}
.spongeSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.spongeSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.spongeSkin span.mce_forecolorpicker {background-position:-720px 0}
.spongeSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.spongeSkin span.mce_advhr {background-position:-0px -20px}
.spongeSkin span.mce_ltr {background-position:-20px -20px}
.spongeSkin span.mce_rtl {background-position:-40px -20px}
.spongeSkin span.mce_emotions {background-position:-60px -20px}
.spongeSkin span.mce_fullpage {background-position:-80px -20px}
.spongeSkin span.mce_fullscreen {background-position:-100px -20px}
.spongeSkin span.mce_iespell {background-position:-120px -20px}
.spongeSkin span.mce_insertdate {background-position:-140px -20px}
.spongeSkin span.mce_inserttime {background-position:-160px -20px}
.spongeSkin span.mce_absolute {background-position:-180px -20px}
.spongeSkin span.mce_backward {background-position:-200px -20px}
.spongeSkin span.mce_forward {background-position:-220px -20px}
.spongeSkin span.mce_insert_layer {background-position:-240px -20px}
.spongeSkin span.mce_insertlayer {background-position:-260px -20px}
.spongeSkin span.mce_movebackward {background-position:-280px -20px}
.spongeSkin span.mce_moveforward {background-position:-300px -20px}
.spongeSkin span.mce_media {background-position:-320px -20px}
.spongeSkin span.mce_nonbreaking {background-position:-340px -20px}
.spongeSkin span.mce_pastetext {background-position:-360px -20px}
.spongeSkin span.mce_pasteword {background-position:-380px -20px}
.spongeSkin span.mce_selectall {background-position:-400px -20px}
.spongeSkin span.mce_preview {background-position:-420px -20px}
.spongeSkin span.mce_print {background-position:-440px -20px}
.spongeSkin span.mce_cancel {background-position:-460px -20px}
.spongeSkin span.mce_save {background-position:-480px -20px}
.spongeSkin span.mce_replace {background-position:-500px -20px}
.spongeSkin span.mce_search {background-position:-520px -20px}
.spongeSkin span.mce_styleprops {background-position:-560px -20px}
.spongeSkin span.mce_table {background-position:-580px -20px}
.spongeSkin span.mce_cell_props {background-position:-600px -20px}
.spongeSkin span.mce_delete_table {background-position:-620px -20px}
.spongeSkin span.mce_delete_col {background-position:-640px -20px}
.spongeSkin span.mce_delete_row {background-position:-660px -20px}
.spongeSkin span.mce_col_after {background-position:-680px -20px}
.spongeSkin span.mce_col_before {background-position:-700px -20px}
.spongeSkin span.mce_row_after {background-position:-720px -20px}
.spongeSkin span.mce_row_before {background-position:-740px -20px}
.spongeSkin span.mce_merge_cells {background-position:-760px -20px}
.spongeSkin span.mce_table_props {background-position:-980px -20px}
.spongeSkin span.mce_row_props {background-position:-780px -20px}
.spongeSkin span.mce_split_cells {background-position:-800px -20px}
.spongeSkin span.mce_template {background-position:-820px -20px}
.spongeSkin span.mce_visualchars {background-position:-840px -20px}
.spongeSkin span.mce_abbr {background-position:-860px -20px}
.spongeSkin span.mce_acronym {background-position:-880px -20px}
.spongeSkin span.mce_attribs {background-position:-900px -20px}
.spongeSkin span.mce_cite {background-position:-920px -20px}
.spongeSkin span.mce_del {background-position:-940px -20px}
.spongeSkin span.mce_ins {background-position:-960px -20px}
.spongeSkin span.mce_pagebreak {background-position:0 -40px}
.spongeSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}